<div class="bg-indigo-600">
    <div
        class="max-w-screen-xl mx-auto px-4 py-3 text-white sm:text-center md:px-8"
    >
        <p class="font-medium">
            This is a WIP! Please be patient as this website is pieced together.
        </p>
    </div>
</div>
